{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @copyright   2023 coactum GmbH
    @template annopy/annopy_annotations_summary

    Annotations summary.

    Example context (json):
    {
    }
}}
<div class="annopy_annotations_summary">
    <div class="annotationtypes collapse show">
            <div class="d-flex justify-content-between">
                {{#canmanageannotationtypetemplates}}
                    <button class="btn btn-primary m-1" data-toggle="collapse" data-target=".annotationtypes" aria-expanded="false" aria-controls=".annotationtypes" title="{{#str}}switchtotemplatetypes, mod_annopy{{/str}}">{{#str}}switchtotemplatetypes, mod_annopy{{/str}}</button>
                {{/canmanageannotationtypetemplates}}
                {{#canaddannotationtype}}
                    <a class="btn btn-primary m-1" href="annotationtypes.php?id={{cmid}}&mode=2"> {{#str}}addannotationtype, mod_annopy{{/str}} ({{#str}}modulename, mod_annopy{{/str}})</a>
                {{/canaddannotationtype}}
            </div>

        <h3 class="mt-3">{{#str}}annopyannotationtypes, mod_annopy{{/str}}</h3>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">{{#str}}participant, mod_annopy{{/str}}</th>
                    {{#annopyannotationtypes}}
                        <th scope="col">
                            <span style="text-decoration: underline; text-decoration-color: #{{color}}; text-decoration-thickness: 3px;">{{name}}</span>
                            <div>
                                {{#canbeedited}}
                                    <a href="annotationtypes.php?id={{cmid}}&edit={{id}}&mode=2" title="{{#str}}editannotationtype, annopy {{/str}}"><i class="fa fa-lg fa-pencil" aria-hidden="true" ></i></a>
                                {{/canbeedited}}
                                {{#canbedeleted}}
                                    <a href="annotations_summary.php?id={{cmid}}&delete={{id}}&mode=2&sesskey={{sesskey}}" title="{{#str}}deleteannotationtype, annopy {{/str}}"><i class="fa fa-lg fa-trash" aria-hidden="true" ></i></a>
                                {{/canbedeleted}}
                                {{#canbeedited}}
                                    <a href="annotations_summary.php?id={{cmid}}&priority={{id}}&action=1&mode=2&sesskey={{sesskey}}" title="{{#str}}movefor, annopy {{/str}}"><i class="fa fa-lg fa-arrow-left" aria-hidden="true" ></i></a>
                                    <a href="annotations_summary.php?id={{cmid}}&priority={{id}}&action=2&mode=2&sesskey={{sesskey}}" title="{{#str}}moveback, annopy {{/str}}"><i class="fa fa-lg fa-arrow-right" aria-hidden="true" ></i></a>
                                {{/canbeedited}}
                            </div>
                        </th>
                    {{/annopyannotationtypes}}
                    <th scope="col">{{#str}}total{{/str}}</th>
                    <th scope="col">{{#str}}view{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#participants}}
                    <tr>
                        <td>{{firstname}} {{lastname}}</td>
                        {{#annotations}}
                            <td>{{.}}</td>
                        {{/annotations}}
                        <td>{{annotationscount}}</td>
                        <td>
                            <a href="view.php?id={{cmid}}&userid={{id}}" title="{{#str}}viewannotationsofuser, annopy {{/str}}"><i class="fa fa-lg fa-eye" aria-hidden="true" ></i></a>
                        </td>
                    </tr>
                {{/participants}}
                {{#canviewparticipants}}
                    <tr>
                        <th scope="col">{{#str}}total{{/str}}</th>
                        {{#annopyannotationtypes}}
                            <th scope="col">
                                {{totalcount}}
                            </th>
                        {{/annopyannotationtypes}}
                        <th scope="col">{{annotationstotalcount}}</th>
                        <th scope="col">
                            <a href="view.php?id={{cmid}}&userid=0" title="{{#str}}viewannotationsofuser, annopy {{/str}}"><i class="fa fa-lg fa-eye" aria-hidden="true" ></i></a>
                        </th>
                    </tr>
                {{/canviewparticipants}}
            </tbody>
        </table>
    </div>

    {{#canmanageannotationtypetemplates}}
        <div class="annotationtypes collapse">
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary m-1" data-toggle="collapse" data-target=".annotationtypes" aria-expanded="false" aria-controls=".annotationtypes" title="{{#str}}switchtoannopytypes, mod_annopy{{/str}}">{{#str}}switchtoannopytypes, mod_annopy{{/str}}</button>
                {{#canaddannotationtypetemplate}}<a class="btn btn-primary m-1" href="annotationtypes.php?id={{cmid}}&mode=1"> {{#str}}addannotationtype, mod_annopy{{/str}} ({{#str}}template, mod_annopy{{/str}})</a>{{/canaddannotationtypetemplate}}
            </div>

            <h3 class="mt-3">{{#str}}annotationtypetemplates, mod_annopy{{/str}}</h3>

            {{#annotationtypetemplates.0}}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">
                                {{#str}}name{{/str}}
                            </th>
                            <th scope="col">
                                {{#str}}type, mod_annopy{{/str}}
                            </th>
                            <th scope="col">
                                {{#str}}color, mod_annopy{{/str}}
                            </th>
                            <th scope="col">
                                {{#str}}edit{{/str}}
                            </th>
                            <th scope="col">
                                {{#str}}delete{{/str}}
                            </th>
                            <th scope="col">
                                {{#str}}addtoannopy, mod_annopy{{/str}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#annotationtypetemplates}}
                            <tr>
                                <td>{{name}}</td>
                                <td>
                                    {{type}}
                                </td>
                                <td style="background-color: #{{color}}"></td>
                                <td>
                                    {{#canbeedited}}<a href="annotationtypes.php?id={{cmid}}&edit={{id}}&mode=1" title="{{#str}}editannotationtypetemplate, annopy {{/str}}"><i class="fa fa-lg fa-pencil" aria-hidden="true" ></i></a>{{/canbeedited}}
                                </td>
                                <td>
                                    {{#canbedeleted}}<a href="annotations_summary.php?id={{cmid}}&delete={{id}}&mode=1&sesskey={{sesskey}}" title="{{#str}}deleteannotationtypetemplate, annopy {{/str}}" onclick="return confirm('{{#str}}deleteannotationtypetemplateconfirm, annopy {{/str}}');"><i class="fa fa-lg fa-trash" aria-hidden="true" ></i></a>{{/canbedeleted}}
                                </td>
                                <td>
                                    {{#canaddannotationtype}}<a href="annotations_summary.php?id={{cmid}}&addtoannopy={{id}}&sesskey={{sesskey}}" title="{{#str}}addtoannopy, annopy {{/str}}"><i class="fa fa-lg fa-plus" aria-hidden="true" ></i></a>{{/canaddannotationtype}}
                                </td>
                            </tr>
                        {{/annotationtypetemplates}}
                    </tbody>
                </table>
            {{/annotationtypetemplates.0}}
            {{^annotationtypetemplates.0}} {{#str}}notemplatetypes, mod_annopy{{/str}} {{/annotationtypetemplates.0}}
        </div>
    {{/canmanageannotationtypetemplates}}

    <div class="d-flex justify-content-center">
        <a class="btn btn-primary m-1" href="view.php?id={{cmid}}"> {{#str}}backtooverview, mod_annopy{{/str}} </a>
    </div>
</div>